body {
    background-image: url(assets/bg-home.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: flex;
    flex-flow: row-wrap;
}
.content img {
    width: 1000px;
}
.content .kiri .kanan{
    width: 50%;
}
.content .kanan {
    padding-top: 15%;
}
.content .kanan .judul {
    font-size: 50px;
}
.content .kanan .isi-judul {
    font-size: 18px;
}